body {
  margin: 0;
  padding: 0;
  font: 15px MyriadProRegular; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto; }
.image{
  background-image: url(../image/4.jpg);
  height: 492px;
  background-repeat: round;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 10px;
  margin-left: 40px;
  margin: 5px; }
  .header a {
    text-decoration: none;
    font-size: 15px;
    color: black; }

.punkt {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.logoheader {
  height: 50%;
  width: 50%;
  padding: 20px; }

.image, .header, .zag, .see, .gallery, .immage, .footer {
  grid-column: 1/5; }

.about {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about p {
    color: black;
    font-size: 15px;
    width: 70%;
    text-align: justify; }
  .about h1 {
    text-align: center;
    font-weight: 100; }

.howitwrks {
  grid-column: 3/5;
  display: flex;
  padding: 40px;
  margin: 20px;
  justify-content: space-evenly; }

.logo {
  height: 130px;
  width: 130px;
  margin: 0px 30px 0px 30px;
  padding: 20px; }

.column1 {
  text-align: center; }
  .column1 p {
    padding-left: 20px; }

.zag, .see {
  margin-bottom: 30px; }

h1 {
  text-align: center;
  font-weight: 100; }

a {
  text-decoration: none;
  font-size: 15px;
  color: black; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }

.port {
  width: 100%;
  height: auto;
  padding-bottom: 28px; }

.works{
    margin: 0px 10px;
  }
.see {
  display: flex;
  justify-content: center; }
  .see a {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #666;
    padding: 8px 20px;}
  
.uploadfile {
  grid-row: 7/8;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .uploadfile p {
    text-align: center;
    width: 75%; }
  .uploadfile a {
    background-color: #9995a7;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px; }

.immage {
  grid-row: 7/8;
  height: 500px;
}

.gif {
  width: 100%; }

.feedback {
  grid-row: 7/8;
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form {
  display: flex;
  flex-direction: column;
  width: 50%; }

input[type=text] {
  margin-bottom: 10px;
  padding: 10px 20px 10px 8px;
  border: 1px solid #666; }

textarea {
  border: 1px solid #666;
  resize: none;
  margin-bottom: 10px;
  padding: 10px 20px 10px 8px;
  height: 80px; }

input[type=submit] {
  background-color: #9995a7;
  color: white;
  font-size: 20px;
  padding: 10px 0px;
  margin: 30px;
  border: none; }

.footer {
  background-color: #9995a7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  padding-bottom: 0px;
  height: auto; }

ul.colo > li {
  list-style-type: none;
  padding: 5px; }

ul.colo > li > a:hover {
  color: #d7dfe6; }

.col {
  margin-top: 20px; }
  .col p {
    margin: 10px; }

.col1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px; }
  .col1 p {
    padding: 20px 20px 20px 20px; }

.contact {
  width: 40px;
  height: 40px;
  margin: 5px 5px 5px 0px; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProCondRegular";
  src: url("../fonts/MyriadProCondRegular/MyriadProCondRegular.eot");
  src: url("../fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"), url("../fonts/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
